includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 6
	excludePaths:
		- vendor
		- docker
		- css
		- resources
	paths:
		- admin
		- integrations
		- shortcodes
		- TalentLMSLib
		- utils
		- widgets